footer.page-footer.page-footer--flex
  ul.page-footer__navigation.footer-navigation
    li.footer-navigation__item
      a(href="#.html", title="About") About
    li.footer-navigation__item
      a(href="#", title="Contact") Contact
  span.page-footer__copyright
    | Simple start project 2017
