header.page-header
  .inner.inner--flex
    .page-header__logo
      a.page-header__link(href="/", title="Start project")
        picture
          img.page-header__image(src="img/logo.png", srcset="img/2x/logo@2x.png 2x", width="117", height="52", alt="Start project logo")
    .page-header__contact
      a.page-header__link(href="#.html", title="Contacts")
        | Contacts
