doctype html
html(lang="en")
  include partials/_head
  body.body
    h1.outline Start proj - main page
    .page-wrapper.page-wrapper--flex
      include partials/_page-header

      main.main.main--flex
        h1.page-title Hello, world!!

        section.promo-block
          h1.promo-block__title Set amen
          p.promo-block__description Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur distinctio dolorum ea eos, eveniet id iste necessitatibus nihil non, quidem ratione vitae! At doloremque exercitationem fugit illum ipsam omnis quia.

        section.promo-block
          h1.promo-block__title Set amen
          p.promo-block__description Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur distinctio dolorum ea eos, eveniet id iste necessitatibus nihil non, quidem ratione vitae! At doloremque exercitationem fugit illum ipsam omnis quia.

        section.promo-block
          h1.promo-block__title Set amen
          p.promo-block__description Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur distinctio dolorum ea eos, eveniet id iste necessitatibus nihil non, quidem ratione vitae! At doloremque exercitationem fugit illum ipsam omnis quia.

        section.promo-block
          h1.promo-block__title Set amen
          p.promo-block__description Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur distinctio dolorum ea eos, eveniet id iste necessitatibus nihil non, quidem ratione vitae! At doloremque exercitationem fugit illum ipsam omnis quia.

      include partials/_footer
      include partials/_scripts
